:root {
    --dark: #000028;
    --secondary: #ff0000;
    --tertiary: #49f6d8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
}

body button {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
}

.content-wrapper {
    padding: 0 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    font-weight: 200;
    margin-top: 50px;
}

#format-selector {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 0;
    border: 1px solid var(--dark);
}

#format-selector:focus {
    outline: 1px solid var(--tertiary) !important;
}

.search-bar-wrapper {
    margin-top: 30px;
    display: flex;
    height: 40px;
}

.search-bar-wrapper button{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: bottom;
    background: var(--dark);
    border: none;
    color: white;
    margin-right: 30px;
    padding: 4px 20px;
    font-size: 1.2rem;
    line-height: 16px;
    cursor: pointer;
}

#refresh-btn {
    border-radius: 100%;
    padding: 4px 11px;
}

.search-bar-wrapper button:active {
    background: var(--tertiary);
}

#search-bar {
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: bottom;
    padding: 6px;
    min-width: 200px;
    width: 40%;
    border: 1px solid var(--dark);
    font-size: 17px;
}

input:focus {
    outline: 1px solid var(--tertiary) !important;
}

#search-summary {
    font-style: italic;
    margin: 3rem 0 1rem 0;
    font-size: 1rem;
}

#library-display {
    border-bottom: 1px solid var(--dark);
    font-size: 1.2rem;
}

.item-row-accordion {
    cursor: pointer;
    padding: 1rem 0.3rem;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-top: 1px solid var(--dark);
    display: flex;
    justify-content: space-between;
}

.item-row-left {
    display: flex;
    gap: 20px;
    flex: 1;
    min-width: 0;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.active-item-row-accordion, .item-row-accordion:hover {
    background-color: var(--tertiary);
}

.item-row-hidden-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.item-row-panel-content {
    padding: 5px 0 20px 41px;
}

.item-row-panel-content div {
    margin-top: 10px;
}

button {
    cursor: pointer;
}

#library-display button {
    background:none;
    border:none;
    text-decoration: underline;
    margin:0;
    padding:0;
    font-size: 1.2rem;
    color: var(--dark);
}

#library-display button:hover {
    color: var(--tertiary);
}