:root {
    --dark: #000028;
    --secondary: #ff0000;
    --tertiary: #49f6d8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    color: var(--dark);
}

a {
    color: var(--dark);
}

a:active {
    color: var(--tertiary);
}

body button {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    color: var(--dark);
}

body button:active {
    color: var(--tertiary);
}

.content-wrapper {
    padding: 0 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

.top-nav {
    font-size: 1.5rem;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.top-nav a {
    text-decoration: none;
}

.top-nav button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--dark);
}

h1 {
    font-size: 4rem;
    font-weight: 200;
    margin-top: 30px;
}

#format-selector {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 0;
    border: 1px solid var(--dark);
}

#format-selector:focus {
    outline: 1px solid var(--tertiary) !important;
}

.search-bar-wrapper {
    margin-top: 30px;
    display: flex;
    height: 40px;
}

.search-bar-wrapper button{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: bottom;
    background: var(--dark);
    border: none;
    color: white;
    padding: 4px 20px;
    font-size: 1.2rem;
    line-height: 16px;
    cursor: pointer;
}

#search-input-btn {
    margin-right: 30px;
}

#refresh-btn {
    border-radius: 100%;
    padding: 4px 11px;
}

.search-bar-wrapper button:active {
    background: var(--tertiary);
}

#input-wrapper {
    display: flex;
    width: 60%;
    min-width: 300px;
    max-width: 550px;
}

#search-input {
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: bottom;
    padding: 6px;
    border-radius: 0;
    border: 1px solid var(--dark);
    font-size: 17px;
    width: 100%;
}

#search-input:focus {
    outline: 1px solid var(--tertiary) !important;
}

@media screen and (max-width: 550px) {
    h1{
        font-size: 2.5rem;
        margin-top: 10px
    }
    
    .search-bar-wrapper {
        flex-wrap: wrap;
        gap: 20px;
        height: auto;
    }
    #input-wrapper {
        width: 100%;
        max-width: unset;
        height: 50px;
    }
    #search-input-btn {
        margin-right: 0;
        padding: 0 40px;
    }
    #refresh-btn {
        border-radius: 3px;
        width: 25%;
        height: 40px;
        order: 3;
    }
    #format-selector {
        margin-right: 0;
        height: 40px;
        width: 25%;
        order: 2;
    }
  }

#search-summary {
    font-style: italic;
    margin: 3rem 0 1rem 0;
    font-size: 1rem;
}

#library-display {
    border-bottom: 1px solid var(--dark);
    font-size: 1.2rem;
}

.item-row-accordion {
    cursor: pointer;
    padding: 1rem 0.3rem;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-top: 1px solid var(--dark);
    display: flex;
    justify-content: space-between;
}

.item-row-left {
    display: flex;
    gap: 20px;
    flex: 1;
    min-width: 0;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.active-item-row-accordion, .item-row-accordion:hover {
    background-color: var(--tertiary);
}

.item-row-hidden-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.item-row-panel-content {
    padding: 5px 0 20px 41px;
    font-size: 1rem;
}

.element-label {
    font-weight: bold;
    margin-top: 10px;
}

button {
    cursor: pointer;
}

#library-display button {
    background:none;
    border:none;
    text-decoration: underline;
    margin:0;
    padding:0;
    font-size: 1rem;
    color: var(--dark);
}

#library-display button:hover {
    color: var(--tertiary);
}

#loader {
    margin-top: 60px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--tertiary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal {
    padding: 1rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: white;
    border: 1px solid var(--tertiary);
    border-radius: 1px;
    z-index: 10;
}

#close-modal {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;

}

.modal-title {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem !important;
}

.modal-content-wrapper p {
    margin-bottom: 15px;
    font-size: 1rem;
}